<!DOCTYPE html>
<html>
  <head>
    <title>Edit Ingredient</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Edit Ingredient</h1>
    <p>Please edit your ingredient name</p>

    <form action="/ingredient/<%= ingredient._id %>/edit" method="post">
      <input type="text" name="name" value="<%= ingredient.name %>">
      <input type="submit">
    </form>
  </body>
</html>
